<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.padc.healthcaredirectory">

    <!-- Implicit Intents -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".HealthCareDirectoryApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.HospitalDetailActivity"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ClinicDetailActivity"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.PhamacyDetailActivity"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.DoctorCategoryListActivity"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.DoctorListActivity"
            android:parentActivityName=".activities.DoctorCategoryListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.DoctorDetailActivity"
            android:parentActivityName=".activities.DoctorListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ArticleListActivity"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ArticleDetailActivity"
            android:parentActivityName=".activities.ArticleListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ArticleDetailWebViewActivity"
            android:parentActivityName=".activities.ArticleListActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name=".data.persistence.HealthCareProvider"
            android:authorities="com.padc.healthcaredirectory"
            android:exported="false"
            android:syncable="true" />

        <activity
            android:name=".activities.VeterinaryCategoryActivity"
            android:parentActivityName=".activities.VeterinaryCategoryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.VeterinaryClinicListActivity"
            android:parentActivityName=".activities.VeterinaryClinicListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.VeterinaryClinicDetailActivity"
            android:parentActivityName=".activities.VeterinaryClinicDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.VeterinaryEquipmentDetailActivity"
            android:parentActivityName=".activities.VeterinaryEquipmentDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.VeterinaryMedicineDetailActivity"
            android:parentActivityName=".activities.VeterinaryMedicineDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.VeterinarySpaDetailActivity"
            android:parentActivityName=".activities.VeterinarySpaDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.DiseaseListActivity"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.DiseaseDetailActivity"
            android:parentActivityName=".activities.DiseaseListActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

    </application>

</manifest>